<app-header1></app-header1>
<!--====== Banner part start ======-->
	<section class="banner-section">
		<div class="banner-slider" id="bannerSlider">
			<div class="single-banner" style="background-image: url(assets/img/banner/first.png);">
				<div class="container">
					<div class="row">
						<div class="col-lg-10">
							<div class="banner-content">
								<span class="promo-text" data-animation="fadeInDown" data-delay="0.8s">
									rumah riset
								</span>
								<h1 data-animation="fadeInUp" data-delay="1s">
									Bingung Mau <br> Menjadi Peneliti <br> Muda ?
								</h1>
								<ul class="btn-wrap">
									<li data-animation="fadeInLeft" data-delay="1.2s">
										<a routerLink='/about-us' class="main-btn main-btn-4">Gabung Sekarang</a>
									</li>
									<li data-animation="fadeInRight" data-delay="1.4s">
										<a href='#download-app' class="main-btn main-btn-2">Download App</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<!-- shape banner -->
				<div class="banner-shapes">
					<div class="one"></div>
					<div class="two"></div>
					<div class="three"></div>
					<div class="four"></div>
				</div>
				<!-- end shape banner -->

			</div>
			<div class="single-banner" style="background-image: url(assets/img/banner/second-2.png);">
				<div class="container">
					<div class="row">
						<div class="col-lg-10">
							<div class="banner-content">
								<span class="promo-text" data-animation="fadeInDown" data-delay="0.8s">
									iysa & science hunter
								</span>
								<h1 data-animation="fadeInUp" data-delay="1s">
									Belajar Menjadi <br> Peneliti Muda <br> Bersama Rumah Riset
								</h1>
								<ul class="btn-wrap">
									<li data-animation="fadeInLeft" data-delay="1.2s">
										<a routerLink='/about-us' class="main-btn main-btn-4">Gabung Sekarang</a>
									</li>
									<li data-animation="fadeInRight" data-delay="1.4s">
										<a href='#download-app' class="main-btn main-btn-2">Download App</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- shape banner -->
				<div class="banner-shapes">
					<div class="one"></div>
					<div class="two"></div>
					<div class="three"></div>
					<div class="four"></div>
				</div>
				<!-- end shape banner -->

			</div>
			<div class="single-banner" style="background-image: url(assets/img/banner/third.png);">
				<div class="container">
					<div class="row">
						<div class="col-lg-10">
							<div class="banner-content">
								<span class="promo-text" data-animation="fadeInDown" data-delay="0.8s">
									Rumah Riset
								</span>
								<h1 data-animation="fadeInUp" data-delay="1s">
									Sekarang Ada <br> Aplikasi Untuk <br>  Para Peneliti
								</h1>
								<ul class="btn-wrap">
									<li data-animation="fadeInLeft" data-delay="1.2s">
										<a routerLink='/about-us' class="main-btn main-btn-4">Gabung Sekarang</a>
									</li>
									<li data-animation="fadeInRight" data-delay="1.4s">
										<a href='#download-app' class="main-btn main-btn-2">Download App</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- shape banner -->
				<div class="banner-shapes">
					<div class="one"></div>
					<div class="two"></div>
					<div class="three"></div>
					<div class="four"></div>
				</div>
				<!-- end shape banner -->
				
			</div>
		</div>
	</section>
	<!--====== Banner part end ======-->

	<!--====== About Section start ======-->
	<section class="about-section about-illustration-img section-gap" id="about-us">
		<div class="container">
			<div class="illustration-img">
				<img src="assets/img/rumah-riset/about-img.png" alt="team">
			</div>
			<div class="row no-gutters justify-content-lg-end justify-content-center">
				<div class="col-lg-6 col-md-10">
					<div class="about-text">
						<div class="section-title left-border mb-40">
							<span class="title-tag">Tentang Kami</span>
							<h2 class="title">IYSA & <br> SCIENCE HUNTER </h2>
						</div>
						<p class="mb-25">
							Indonesian Young Scientist Association (IYSA) menawarkan suatu aplikasi yang dapat mengakomodir 
							kebutuhan pembelajaran abad 21 dan konsep STEAM yang bernama “Rumah Riset" bekerja sama dengan Science Hunter Indonesia. 
						</p>
						<ul class="about-list">
							<li> <i class="far fa-check"></i> Video Pembelajaran</li>
							<li> <i class="far fa-check"></i> Bertemu Dengan Team</li>
						</ul>
						<a routerLink='/#about-us' class="main-btn">Lainnya</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== About Section end ======-->

	<!--====== Service Section Start ======-->
    <section class="service-section grey-bg service-line-shape section-gap" id="our-class">
        <div class="container">
            <!-- Section Title -->
            <div class="section-title text-center both-border mb-50">
                <span class="title-tag">Kategori Kelas</span>
                <h2 class="title">We Provide Most Exclusive <br> Class For Learning</h2>
            </div>
            <!-- Services Boxes -->
            <div class="row service-boxes justify-content-center">
                <div class="col-lg-3 col-sm-6 col-10 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="400ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/01.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/'>Elementary</a></h3>
                        <a routerLink='/' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/02.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/'>Secondary</a></h3>
                        <a routerLink='/' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-10 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/03.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/'>Middle</a></h3>
                        <a routerLink='/' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-10 wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="700ms">
                    <div class="service-box-three border-0">
                        <div class="icon">
                            <img src="assets/img/icons/04.png" alt="Icon">
                        </div>
                        <h3><a routerLink='/'>Advance</a></h3>
                        <a routerLink='/' class="service-link">
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="line-one">
            <img src="assets/img/lines/12.png" alt="line-shape">
        </div>
        <div class="line-two">
            <img src="assets/img/lines/11.png" alt="line-shape">
        </div>
    </section>
    <!--====== Service Section End ======-->

	<!--====== Video Start ======-->
	<section class="video-section bg-img-c section-gap" style="background-image: url(assets/img/rumah-riset/video-1.jpg);" id="video-penjelasan">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-xl-7 col-lg-8 col-md-10 order-2 order-md-1">
					<div class="video-text">
						<div class="section-title left-border mb-30">
							<span class="title-tag">Video Project</span>
							<h2 class="title">
								Video Penjelasan Tentang <br> Apa Itu Penelitian
							</h2>
						</div>
						<p>
							Ranim ad minima veniam, quis nostrum exercitationem ullam corpsuscipit
							laboriosam, nisi ut aliquid exea commodi consequa turuis autem
						</p>
						<a routerLink='/about-us' class="main-btn">Gabung Sekarang</a>
					</div>
				</div>
				<div class="col-lg-3 col-lg-4 col-md-2 order-1 order-md-2">
					<div class="video-btn text-md-center wow fadeInUp" data-wow-duration="1500ms"
						data-wow-delay="400ms">
						<a href='https://www.youtube.com/watch?v=IAFlNf1H_Cc' class="play-btn popup-video">
							<img src="assets/img/icons/play.svg" alt="">
							<i class="fas fa-play"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="line-shape">
			<img src="assets/img/lines/08.png" alt="Line">
		</div>
	</section>
	<!--====== Video end ======-->

	<!--====== Feature Part start ======-->
	<section class="project-section" id="screen-app">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-8">
                    <!-- Section Title -->
                    <div class="section-title left-border">
                        <span class="title-tag">Feature Kami</span>
                        <h2 class="title">Feature Yang Ada Pada Aplikasi</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-md-4">
                    <div class="view-moore-btn text-md-right mt-30 mt-md-0">
                        <a routerLink='/portfolio-one' class="main-btn">Lainnya</a>
                    </div>
                </div>
            </div>

            <!-- Project Boxes -->
            <div class="row project-boxes mt-80 justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="project-box">
                        <div class="project-thumb">
                            <div class="thumb bg-img-c" style="background-image: url(assets/img/feature/second.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="project-box">
                        <div class="project-thumb">
                            <div class="thumb bg-img-c" style="background-image: url(assets/img/feature/second.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="project-box">
                        <div class="project-thumb">
                            <div class="thumb bg-img-c" style="background-image: url(assets/img/feature/second.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="project-box">
                        <div class="project-thumb">
                            <div class="thumb bg-img-c" style="background-image: url(assets/img/feature/second.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="project-box">
                        <div class="project-thumb">
                            <div class="thumb bg-img-c" style="background-image: url(assets/img/feature/second.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="project-box">
                        <div class="project-thumb">
                            <div class="thumb bg-img-c" style="background-image: url(assets/img/feature/second.png);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--====== Feature Part end ======-->

	<!--====== Why Choose Us Part Start ======-->
	<section class="wcu-section box-style">
		<div class="container">
			<div class="wcu-inner">
				<div class="row align-items-center justify-content-center">
					<div class="col-lg-6">
						<div class="wcu-image text-center text-lg-left wow fadeInUp" data-wow-duration="1500ms"
							data-wow-delay="400ms">
							<img src="assets/img/rumah-riset/riset.png" alt="Image">
						</div>
					</div>
					<div class="col-lg-6 col-md-10">
						<div class="wcu-text">
							<div class="section-title left-border mb-40">
								<span class="title-tag">Rumah Riset</span>
								<h2 class="title">Kenapa harus <br> Rumah Riset</h2>
							</div>
							<p>
								Rumah Riset akan membantu kalian menjadi scientist muda
							</p>
							<ul class="wcu-list">
								<li>
									<i class="far fa-check-circle"></i> Para ahli peneliti yang langsung mengajarkan
								</li>
								<li>
									<i class="far fa-check-circle"></i> Bisa bertanya langsung dengan mereka

								</li>
								<li>
									<i class="far fa-check-circle"></i> Team yang profesional dalam hal riset
								</li>
							</ul>

							<a routerLink='/contact-us' class="main-btn main-btn-4">Gabung Sekarang</a>
						</div>
					</div>
				</div>
				<img src="assets/img/lines/03.png" alt="shape" class="line-shape-one">
				<img src="assets/img/lines/04.png" alt="shape" class="line-shape-two">
			</div>
		</div>
	</section>
	<!--====== Why Choose Us Part End ======-->

	<!--====== Fact Section Start ======-->
    <section class="fact-section-three section-gap" id="features-app">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10 order-2 order-lg-1">
                    <div class="fact-text">
                        <div class="section-title left-border mb-40">
                            <span class="title-tag">Feature Aplikasi</span>
                            <h2 class="title">Yang Kami Tawarkan Pada Aplikasi Kami</h2>
                        </div>
                        <ul class="fact-list">
                            <li> <i class="fas fa-check"></i> Belajar meneliti dengan sebuah video </li>
                            <li> <i class="fas fa-check"></i> Berbicara langsung dengan team atau mentor kami</li>
                            <li> <i class="fas fa-check"></i> Kelas online dengan tatap muka</li>
                            <li> <i class="fas fa-check"></i> Aplikasi yang mudah untuk digunakan dan video dapat di download</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-md-10 order-1 order-lg-2">
                    <div class="fact-boxes row" id="factIsotpe">
                        <div class="col-6 col-tiny-12">
                            <div class="fact-box fact-box-three text-center">
                                <div class="icon">
                                    <i class="fab fa-youtube"></i>
                                </div>
                                <h2 class="counter">400</h2>
                                <p class="title">Video Kami</p>
                            </div>
                        </div>
                        <div class="col-6 col-tiny-12">
                            <div class="fact-box fact-box-three text-center mt-30">
                                <div class="icon">
                                    <i class="fas fa-comments"></i>
                                </div>
                                <h2 class="counter">14</h2>
                                <p class="title">Team Kami</p>
                            </div>
                        </div>
                        <div class="col-6 col-tiny-12">
                            <div class="fact-box fact-box-three text-center mt-30">
                                <div class="icon">
                                    <i class="fas fa-video"></i>
                                </div>
                                <h2 class="counter">40</h2>
                                <p class="title">Mentor Kami</p>
                            </div>
                        </div>
                        <div class="col-6 col-tiny-12">
                            <div class="fact-box fact-box-three text-center mt-30">
                                <div class="icon">
                                    <i class="fas fa-download"></i>
                                </div>
                                <h2 class="counter">3568</h2>
                                <p class="title">User Download</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Fact Section End ======-->

	<!--====== Team Section Start ======-->
    <!-- <section class="team-section">
        <div class="container-fluid p-70">
            <div class="section-title text-center both-border mb-80">
                <span class="title-tag"> Mentor Kami </span>
                <h2 class="title">Belajar bersama mentor <br> Profesional Kami</h2>
            </div> -->
            <!-- Team Slider -->
            <!-- <div class="team-members-two row" id="teamSliderTwo">
                <div class="col">
                    <div class="team-member">
                        <div class="member-picture">
                            <img src="assets/img/team/09.jpg" alt="TeamMember">
                        </div>
                        <div class="member-desc">
                            <h3 class="name"><a routerLink='/team-detail'>John N. Holmes</a></h3>
                            <span class="pro">Business Developer</span>

                            <ul class="social-icons">
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-instagram"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="team-member">
                        <div class="member-picture">
                            <img src="assets/img/team/08.jpg" alt="TeamMember">
                        </div>
                        <div class="member-desc">
                            <h3 class="name">John N. Holmes</h3>
                            <span class="pro">Business Developer</span>

                            <ul class="social-icons">
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-instagram"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="team-member">
                        <div class="member-picture">
                            <img src="assets/img/team/07.jpg" alt="TeamMember">
                        </div>
                        <div class="member-desc">
                            <h3 class="name">John N. Holmes</h3>
                            <span class="pro">Business Developer</span>

                            <ul class="social-icons">
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-instagram"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="team-member">
                        <div class="member-picture">
                            <img src="assets/img/team/06.jpg" alt="TeamMember">
                        </div>
                        <div class="member-desc">
                            <h3 class="name">John N. Holmes</h3>
                            <span class="pro">Business Developer</span>

                            <ul class="social-icons">
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-instagram"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="team-member">
                        <div class="member-picture">
                            <img src="assets/img/team/05.jpg" alt="TeamMember">
                        </div>
                        <div class="member-desc">
                            <h3 class="name">John N. Holmes</h3>
                            <span class="pro">Business Developer</span>

                            <ul class="social-icons">
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-instagram"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="team-member">
                        <div class="member-picture">
                            <img src="assets/img/team/09.jpg" alt="TeamMember">
                        </div>
                        <div class="member-desc">
                            <h3 class="name">John N. Holmes</h3>
                            <span class="pro">Business Developer</span>

                            <ul class="social-icons">
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-instagram"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="team-member">
                        <div class="member-picture">
                            <img src="assets/img/team/08.jpg" alt="TeamMember">
                        </div>
                        <div class="member-desc">
                            <h3 class="name">John N. Holmes</h3>
                            <span class="pro">Business Developer</span>

                            <ul class="social-icons">
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-instagram"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="team-member">
                        <div class="member-picture">
                            <img src="assets/img/team/07.jpg" alt="TeamMember">
                        </div>
                        <div class="member-desc">
                            <h3 class="name">John N. Holmes</h3>
                            <span class="pro">Business Developer</span>

                            <ul class="social-icons">
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-instagram"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="team-member">
                        <div class="member-picture">
                            <img src="assets/img/team/06.jpg" alt="TeamMember">
                        </div>
                        <div class="member-desc">
                            <h3 class="name">John N. Holmes</h3>
                            <span class="pro">Business Developer</span>

                            <ul class="social-icons">
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-instagram"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="team-member">
                        <div class="member-picture">
                            <img src="assets/img/team/05.jpg" alt="TeamMember">
                        </div>
                        <div class="member-desc">
                            <h3 class="name">John N. Holmes</h3>
                            <span class="pro">Business Developer</span>

                            <ul class="social-icons">
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-instagram"></i></a></li>
                                <li><a routerLink='/homepage3'><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--====== Team Section end ======-->

	<!--====== Testimonials part start ======-->
    <!-- <section class="testimonial-section-two section-gap">
        <div class="container">
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-9">
                    <div class="section-title both-border text-center mb-80">
                        <span class="title-tag">Testimonial</span>
                        <h2 class="title">Kata mereka yang <br>Bergabung</h2>
                    </div>
                    <div class="testimonial-items" id="testimonialSliderTwo">
                        <div class="testimonial-item" data-thumb="assets/img/testimonial/author.png">
                            <div class="author-img">
                                <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                            </div>
                            <div class="content">
                                <p>
                                    <span class="quote-top">
                                        <i class="fas fa-quote-left"></i>
                                    </span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.
                                    <span class="quote-bottom">
                                        <i class="fas fa-quote-right"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="author-name">
                                <h4>Raihan Malano</h4>
                                <span>Staff</span>
                            </div>
                        </div>
                        <div class="testimonial-item" data-thumb="assets/img/testimonial/author-3.png">
                            <div class="author-img">
                                <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                            </div>
                            <div class="content">
                                <p>
                                    <span class="quote-top">
                                        <i class="fas fa-quote-left"></i>
                                    </span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.
                                    <span class="quote-bottom">
                                        <i class="fas fa-quote-right"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="author-name">
                                <h4>Dhea Zulfa</h4>
                                <span>Staff</span>
                            </div>
                        </div>
                        <div class="testimonial-item" data-thumb="assets/img/testimonial/author-4.png">
                            <div class="author-img">
                                <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                            </div>
                            <div class="content">
                                <p>
                                    <span class="quote-top">
                                        <i class="fas fa-quote-left"></i>
                                    </span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.
                                    <span class="quote-bottom">
                                        <i class="fas fa-quote-right"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="author-name">
                                <h4>Richard E. Harrisona</h4>
                                <span>CEO & Founder</span>
                            </div>
                        </div>
                        <div class="testimonial-item" data-thumb="assets/img/testimonial/author-5.png">
                            <div class="author-img">
                                <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                            </div>
                            <div class="content">
                                <p>
                                    <span class="quote-top">
                                        <i class="fas fa-quote-left"></i>
                                    </span>
                                    Sedut perspiciatis unde omniiste natus errorsit voluptatem accusant doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab ilinventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur aut
                                    <span class="quote-bottom">
                                        <i class="fas fa-quote-right"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="author-name">
                                <h4>Richard E. Harrisona</h4>
                                <span>CEO & Founder</span>
                            </div>
                        </div>
                        <div class="testimonial-item" data-thumb="assets/img/testimonial/author-6.png">
                            <div class="author-img">
                                <img src="assets/img/testimonial/author-8.jpg" alt="Image">
                            </div>
                            <div class="content">
                                <p>
                                    <span class="quote-top">
                                        <i class="fas fa-quote-left"></i>
                                    </span>
                                    Sedut perspiciatis unde omniiste natus errorsit voluptatem accusant doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab ilinventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur aut
                                    <span class="quote-bottom">
                                        <i class="fas fa-quote-right"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="author-name">
                                <h4>Richard E. Harrisona</h4>
                                <span>CEO & Founder</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-dots"></div>
                </div>
            </div>
        </div>
        <div class="testimonial-quote-icon">
            <img src="assets/img/icons/quote.png" alt="quote">
        </div>
    </section> -->
    <!--====== Testimonials part end ======-->

	<!--====== Client Area Start ======-->
	<section class="client-section" id="creator">
		<div class="container">
			<div class="client-slider section-gap line-bottom">
				<div class="row align-items-center justify-content-between" id="clientSlider">
					<div class="col">
						<a routerLink='/' class="client-img d-block text-center">
							<img src="assets/img/clients/iysa.png" alt="indonesian young scientist association">
						</a>
					</div>
					<div class="col">
						<a routerLink='/' class="client-img d-block text-center">
							<img src="assets/img/clients/shi.png" alt="science hunter indonesia">
						</a>
					</div>
					<!-- <div class="col">
						<a routerLink='/' class="client-img d-block text-center">
							<img src="assets/img/clients/03.png" alt="">
						</a>
					</div>
					<div class="col">
						<a routerLink='/' class="client-img d-block text-center">
							<img src="assets/img/clients/04.png" alt="">
						</a>
					</div>
					<div class="col">
						<a routerLink='/' class="client-img d-block text-center">
							<img src="assets/img/clients/05.png" alt="">
						</a>
					</div>
					<div class="col">
						<a routerLink='/' class="client-img d-block text-center">
							<img src="assets/img/clients/01.png" alt="">
						</a>
					</div>
					<div class="col">
						<a routerLink='/' class="client-img d-block text-center">
							<img src="assets/img/clients/02.png" alt="">
						</a>
					</div>
					<div class="col">
						<a routerLink='/' class="client-img d-block text-center">
							<img src="assets/img/clients/03.png" alt="">
						</a>
					</div>
					<div class="col">
						<a routerLink='/' class="client-img d-block text-center">
							<img src="assets/img/clients/04.png" alt="">
						</a>
					</div>
					<div class="col">
						<a routerLink='/' class="client-img d-block text-center">
							<img src="assets/img/clients/05.png" alt="">
						</a>
					</div> -->
				</div>
			</div>
		</div>
	</section>
	<!--====== Client Area End ======-->
	<app-footer1></app-footer1>